extends layout

block content
    if timeline
        h3.center Latest tweets from @#{username}
        if timeline.length > 0
            div#tweets
                each tweet in timeline
                    - var t = tweet.text;
                    
                    each m in tweet.entities.user_mentions
                        - t = t.replace('@'+m.screen_name, '<a href="/'+m.screen_name+'-tweets">@'+m.screen_name+'</a>')
                        
                    each u in tweet.entities.urls
                        - t = t.replace(u.url, '<a href="'+u.url+'" target="_blank">'+u.url+'</a>')
                        
                    div.tweet !{t}
        else
            p.center No tweets available
    else
        div.center
            h3 Error
            p
                if error == 401
                    | #{username}'s tweets are protected 
                else
                    | #{username} does not exist