body {
	padding: 20px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.center {
    text-align: center;
}

#tweets {
    width: 100%;
}

#tweets .tweet {
    padding: 15px 0;
    margin: 0 2%;
    width: 45%;
    float: left;
    border-top: 1px #CCC solid;
}

@media (max-width: 600px) {
	#tweets .tweet {
	   float: none;
	   width: 100%;
	}
}